@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 10;
  --background-start-rgb: 214, 219, 230;
  --background-end-rgb: 255, 245, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  background-attachment: fixed;
  text-underline-position: from-font;
  scroll-behavior: smooth;
}

img {
  max-width: unset;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
}

*::selection {
  background: #ccc;
  color: #000;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
